<!doctype html>
<html ng-app="rkApp"  ng-controller="TodoListController">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" 
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    
    <script src="math.min.js"></script>

	<style>
		body{
			padding: 20px;
		}
        button, input, select, textarea {
            margin-bottom: 15px;
        }
        .form-inline label {
            width: 50px;
            margin-bottom: 20px;
        }
	</style>
  </head>
  <body>
    <h2>Fourth Order Runge-Kutta</h2>
    <br>
    <form class="form-inline">
        <div class="form-group">
            <label for="equation" class="col-sm-2 control-label">Equation</label>
            <div class="col-sm-4">
                <input type="text" name="equation" ng-model="equation">
            </div>
        </div>
        <div class="form-group">
            <label for="stepsize" class="col-sm-2 control-label">stepsize</label>
            <div class="col-sm-3">
                <input type="number" name="stepsize" step="0.1" ng-model="stepsize">
            </div>
        </div>
        <div class="form-group">
            <label for="xstart" class="col-sm-2 control-label">xstart</label>
            <div class="col-sm-3">
                <input type="number" name="xstart" step="0.1" ng-model="xstart">
            </div>
        </div>
        <div class="form-group">
            <label for="ystart" class="col-sm-2 control-label">ystart</label>
            <div class="col-sm-3">
                <input type="number" name="ystart" step="0.1" ng-model="ystart">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" class="btn btn-default" value="start" name="start" ng-click="start()">
            </div>
        </div>
    </form>
    <br><br>
    <div>
		<table class="table table-striped">
		  <thead>
		    <tr>
		      <th>#</th>
		      <th>Xn</th>
		      <th>Yn</th>
		      <th>Yn + 1</th>
		      <th>K's</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr ng-repeat="iteration in table">
		      <th scope="row">{{$index + 1}}</th>
		      <td>{{iteration.xn}}</td>
		      <td>{{iteration.yn}}</td>
		      <td><b>{{iteration.ynPlusOne}}</b></td>
		      <td><span ng-repeat="k in iteration.kList">{{k}},&nbsp;&nbsp;</span></td>
		    </tr>
		  </tbody>
		</table>
    </div>
  </body>
</html>

<script type="text/javascript">

var app = angular.module('rkApp', []);

app.controller('TodoListController', ['$scope', function($scope) {

    $scope.table = [];

    $scope.equation = "2 + y - x";
    $scope.loops = 4;
    $scope.stepsize = 0.1;
    $scope.xstart = 0;
    $scope.ystart = 2;

    $scope.runEquation = function(x, y){
        var varScope = {
            x: parseFloat(x),
            y: parseFloat(y),
        }

    	var eqTotal = math.eval($scope.equation, varScope);
    	return eqTotal;
    }

    // Kx definitions

    $scope.kOne = function(xn, yn){
    	return $scope.runEquation(xn, yn);
    };

    $scope.kTwo = function(xn, yn, h, kOne){
    	var xnResult = xn + (h/2);
    	var ynResult = yn + ((h/2) * kOne);
    	return $scope.runEquation(xnResult, ynResult);
    };

    $scope.kThree = function(xn, yn, h, kTwo){
    	var xnResult = xn + (h/2);
    	var ynResult = yn + ((h/2) * kTwo);
    	return $scope.runEquation(xnResult, ynResult);
    };

    $scope.kFour = function(xn, yn, h, kThree){
    	var xnResult = xn + h;
    	var ynResult = yn + (h * kThree);
    	return $scope.runEquation(xnResult, ynResult);
    };

    // Y definition

    $scope.yIteration = function(xvalue, yvalue, pass){

    	var kone = $scope.kOne(xvalue, yvalue);
    	var ktwo = $scope.kTwo(xvalue, yvalue, pass, kone);
    	var kthree = $scope.kThree(xvalue, yvalue, pass, ktwo);
    	var kfour = $scope.kFour(xvalue, yvalue, pass, kthree);

    	var resKpart = (kone + (2 * ktwo) + (2 * kthree) + kfour);
    	var res = yvalue + ((pass / 6) * resKpart);

    	var kList = {kone: kone, ktwo: ktwo, kthree: kthree, kfour:kfour};

    	$scope.table.push({xn: xvalue, yn: yvalue, ynPlusOne: res, kList: kList});
    };

    // principal function
    $scope.start = function(){

    	$scope.table = [];

        var iterations = ($scope.ystart - $scope.xstart) / $scope.stepsize;

    	for (var i = 0; i < iterations; i++) {

    		if(i == 0)
    			$scope.yIteration(parseFloat($scope.xstart), parseFloat($scope.ystart), parseFloat($scope.stepsize), parseInt(i)+1);
    		else
    			$scope.yIteration(parseFloat($scope.table[i-1].xn) + parseFloat($scope.stepsize), parseFloat($scope.table[i-1].ynPlusOne), parseFloat($scope.stepsize));
    	}

    };

  }]);

</script>
